@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-blue: hsl(199, 64, 73);
  --mid-blue: hsl(192, 70, 43);
  --dark-blue: hsl(200, 95, 14);
  --green: hsl(88, 60, 50);
  --coffee: hsl(35, 88, 16);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
}
